:host{
    box-sizing: border-box;
    width:100%;
    padding:1rem;
    display:grid;
    grid-template-columns: 3fr 7fr;
    grid-template-rows: 1fr;
    min-height: 700px;
    
}

.container{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.container2{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

table tr td{
    padding:5px;
    align-items: center;
    text-align: center;
    vertical-align: inherit;
}

table {
    border:none;
    border-collapse: collapse;
    min-width: 700px;
}

table .border {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

table td:first-child {
    border-left: none;
}

table td:last-child {
    border-right: none;
}

table td input{
    width:40px;
    height:23px
}
